* {
	font-family: 'Roboto', sans-serif;
}

video {
	width: 100%;
}

a {
  text-decoration: none;
  color: #FEBE10;
}

a:hover {
  text-decoration: none;
  color: #FEBE10;
}

a:active {
  text-decoration: none;
  color: #FEBE10;
}

a:visited {
  text-decoration: none;
  color: #FEBE10;
}

a:link, a:visited {
  text-decoration: none;
  color: #FEBE10;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	text-decoration: italic;
	font-size: 13px;
	color: #7E7E7E;
}

.bodycopy {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.photocredit {
	font-size: 10px;
}

.modal.large {
	width: 80%; /* respsonsive width */
	margin-left:-40%; /* width/2) */ 
}
.sidebar {
	font-size: 30px;
	font-weight: bold;
	color: #cc0000;
}

.grid {
  max-width: 100%;
}

.grid2 {
  max-width: 100%;
}

.vidcontainer {
	padding: 0;
	margin: 0,0,0,10px;
	position: relative;
}

.thumbnail-custom {
margin-bottom: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border: none;
padding: 0;
margin-top: 0;
display: inline-block;
}

#thumbnail-custom a > img, #thumbnail-custom > img {
display: inline-block;
max-width: 50%;
height: auto;
float: left;
padding-right: 10px;
}

.caption a h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-custom {
	color: black;
	background-color: white;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.btn-custom:hover {
	color: white;
	background-color: #FEBE10;
	border-top-color: #FEBE10;
	
}

.btn-custom2 {
	color: white;
	background-color: #FEBE10;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 0;
}


.photo-cred {
	font-size: 11px;
	font-variant: all-small-caps;
}

.grid-fix {
	margin-top: 10px;
}

.subhead2 {
		font-family: 'Playfair Display', serif;
		font-size: 22px;
		letter-spacing: -.5px;
		color: #FEBE10;
		line-height: 45px;
	}

.modalpic {
	width: 100%;
}

@media screen and (max-width: 600px)  
{
	.grid-sizer {
	width: 100%;}

	.grid-item {
	width: 100%;
	margin-bottom: 20px;
	}

	.grid-sizer2 {
	width: 100%;}

	.grid-item2 {
	width: 100%;
	margin-bottom: 20px;
	}		

	.grid-fix {
	margin-right: 12px;
	margin-left: 12px;
	}

	.introfix {
		margin-left: 15px; 
		margin-right: 15px;
	}

	.grid-fix2 {
	margin-top: -10px;
}

#thumbnail-custom a > img, #thumbnail-custom > img {
display: block;
max-width: 100%;
height: auto;
padding-bottom: 10px;
padding-right: 0;
}
}




@media screen and (min-width: 601px) and (max-width: 1199px) {

.grid-sizer {
	width: 48%; 
	}
.gutter-sizer { width: 4%; }

.gutter-sizer2 { width: 5%; }

.grid-item {
	width: 30%;
	margin-bottom: 20px; 
	}

.grid-sizer2 {
	width: 30%; 
	}

.grid-item2 {
	width: 30%;
	margin-bottom: 20px; 
	}	

.grid-item--width3 {
	width: 48%;
	}

	.grid-fix2 {
	margin-top: 0;
}

#thumbnail-custom a > img, #thumbnail-custom > img {
display: block;
max-width: 50%;
height: auto;
padding-bottom: 0;
padding-right: 10px ;
}
	
}





@media screen and (min-width: 1200px) 
{
.grid-sizer {
	width: 48%; 
	}
.gutter-sizer { width: 4%; }
.grid-item {
	width: 30%;
	margin-bottom: 20px;	
	}

.grid-sizer2 {
	width: 30%; 
	}

.gutter-sizer2 { width: 5%; }

.grid-item2 {
	width: 30%;
	margin-bottom: 20px;	
	}

.grid-item--width3 {
	width: 48%;
	}

	.grid-fix2 {
	margin-top: 0;
}
}





.grid-item--width2 { 
	width: 100%; 
	}


.shadow:hover {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.shadow {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.shadow3 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);

}

.shadow4 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

}

.shadow5 {
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

}


@media screen and (min-width: 992px) {
	.headline {
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	letter-spacing: -2.5px;
	}
	.aside {
	border-style: solid;
	border-width: .5px;
	border-color: #f1f1f1;
	border-radius: 5px;
	margin: 0px 10px 10px 10px;
	padding: 10px;
	}
	.aside img {
	width:100%;
	}

	.modcopy {
		padding: 20px;
	}

	.subhead {
		font-family: 'Playfair Display', serif;
		font-size: 50px;
		letter-spacing: -.5px;
		color: #C0C2C4;
		line-height: 45px;
	}
	.smallpic {
		width: 400px;
		margin-right: 15px;
		float:left;
	}

	.grid-fix {
		padding-right: 50px;
		padding-left: 50px;
	}
	.creditsmobile {
	display: none;
	}

}
@media screen and (max-width: 991px) {
	.headline {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	letter-spacing: -2.5px;
	}
	.subhead {
		font-family: 'Playfair Display', serif;
		font-size: 30px;
		letter-spacing: -.5px;
		color: #C0C2C4;
		line-height: 30px;
	}
	.aside {
		border-style: solid;
		border-width: .5px;
		border-color: #f1f1f1;
		border-radius: 5px;
		margin: 10px 10px 10px 10px;
		padding: 10px;
	}
	.aside img {
		width:150px;
	}

	.creditsdesktop {
		display: none;
	}
	.smallpic {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.grid-fix {
		padding-right: 	15px;
		padding-left: 	15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

		.grid-fix2 {
		padding-right: 	15px;
		padding-left: 	15px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.modcopy {
		padding: 20px;
	}
	.creditsdesktop {
	display: none;
	}


}
